.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  position: relative;
}

.progress-container::before {
  content: '';
  background-color: #D3D3D3;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 3px;
  width: 100%;
  z-index: -1;
}

.progress-point {
  border: 3px solid #D3D3D3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #D3D3D3;
  line-height: 30px;
  background-color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.progress-point_active {
  border: 3px solid #2E8B57;
}

.progress-line {
  background-color: #2E8B57;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.button {
  background-color: #2E8B57;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 5px;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  cursor: pointer;
}

.button:disabled {
  background-color: #D3D3D3;
  cursor: not-allowed;
}